In [10]:
import numpy as np
import pandas as pd
from learning_utils import pickle_load

In [11]:
d = "info_v1.0"
d2 = "info_v1.0_data"

In [12]:
import os
from collections import defaultdict
from IPython.display import display
ds = os.listdir(f"results/{d2}")
dis = defaultdict(list)
for d in ds:
    model = int(d.split("_")[-1].split(".")[0])
    dis[model].append(f"results/{d2}/{d}")
data = []
models = list(dis.keys())
for model in models:
    for d in dis[model][:1]:
        sim_data = pickle_load(d)
        info_data = sim_data['info']
        for trial_info_data in info_data:
            for click_info in trial_info_data:
                for c in click_info:
                    data.append([*c, model])
data_df = pd.DataFrame(data, columns=['info', 'node_value', 'pr', 'rpe', 'model'])
display(data_df)

       info  node_value         pr        rpe  model
0      24.0        24.0   0.000000  -1.156663   1809
1       0.0       -48.0   0.000000   0.361066   1809
2       0.0       -24.0   0.000000   0.139383   1809
3      24.0        48.0   0.000000   0.006290   1809
4       0.0         0.0   0.000000  35.380040   1809
...     ...         ...        ...        ...    ...
22224   0.0       -24.0  91.425643 -44.448973   1729
22225   2.0        48.0  93.425643  -0.741241   1729
22226   0.0        -8.0  95.581354  -1.051383   1729
22227   0.0        -2.0  95.581354  -2.090749   1729
22228   0.0         0.0  95.581354 -47.322705   1729

[22229 rows x 5 columns]

In [13]:
data_df['positive_info'] = data_df['info'] > 0
data_df['positive_value'] = data_df['node_value'] > 0
display(data_df)

,info,node_value,pr,rpe,model,positive_info,positive_value
0,24.0,24.0,0.000000,-1.156663,1809,True,True
1,0.0,-48.0,0.000000,0.361066,1809,False,False
2,0.0,-24.0,0.000000,0.139383,1809,False,False
3,24.0,48.0,0.000000,0.006290,1809,True,True
4,0.0,0.0,0.000000,35.380040,1809,False,False
...,...,...,...,...,...,...,...
22224,0.0,-24.0,91.425643,-44.448973,1729,False,False
22225,2.0,48.0,93.425643,-0.741241,1729,True,True
22226,0.0,-8.0,95.581354,-1.051383,1729,False,False
22227,0.0,-2.0,95.581354,-2.090749,1729,False,False
22228,0.0,0.0,95.581354,-47.322705,1729,False,False

In [14]:
grouped_data_df = data_df.groupby(['positive_info', 'positive_value', 'model'])
display(grouped_data_df)

In [15]:
mean_data_df = grouped_data_df.mean()
display(mean_data_df)

                                         info  node_value          pr  \
positive_info positive_value model
False         False          1729   -0.438143  -15.991066   64.653138
                             1777   -0.446468  -15.321635   96.074806
                             1809   -0.330996  -17.194250    0.000000
              True           1729    0.000000   16.532381   83.650373
                             1777    0.000000   16.609883  134.129031
                             1809    0.000000   11.965261    0.000000
True          True           1729   16.610707   22.445396   58.937940
                             1777   18.423387   23.573589   79.500013
                             1809   22.433223   25.825914    0.000000

                                          rpe
positive_info positive_value model
False         False          1729  -29.491083
                             1777  -76.491814
                             1809    2.821963
              True           1729    0.947725
                             1777    0.769703
                             1809   -0.991685
True          True           1729    0.973426
                             1777   -1.028378
                             1809   -1.073186