In [27]:
import numpy as np
import pandas as pd
from learning_utils import pickle_load

In [48]:
result_dir = "results/info_v1.0_data_max"
import os
last_k = 50
fs = os.listdir(result_dir)
total_data = []
for f in fs:
    b = f.split("_")
    pid = int(b[0])
    model = int(b[3].split(".")[0])
    data = pickle_load(f"{result_dir}/{f}")
    info = data['info']
    for sim_info in info:
        total_sims = []
        for t_info in sim_info[-last_k:]:
            for t in t_info:
                total_sims.append([*t, model])
        total_data += total_sims
print(len(total_data))

1512523

In [49]:
data_df = pd.DataFrame(total_data, columns=['info', 'node_value', 'pr', 'rpe', 'model'])

In [50]:
from IPython.display import display
display(data_df)

          info  node_value         pr       rpe  model
0        False         -48   0.000000 -1.002878   1809
1        False          24   0.000000 -0.911391   1809
2         True         -24   0.000000 -1.004297   1809
3         True           2   0.000000 -1.002037   1809
4         True         -48   0.000000 -1.003736   1809
...        ...         ...        ...       ...    ...
1512518  False         -24  57.547956 -0.998110   1777
1512519   True           2   0.000000 -1.002970   1777
1512520   True          -8   0.000000 -1.006808   1777
1512521  False          48   0.000000 -0.997497   1777
1512522   True         -48   0.000000 -0.997817   1777

[1512523 rows x 5 columns]

In [51]:
pd.options.display.max_rows = 10000
data_df['info_present'] =  ~data_df['info']
data_df['positive_value'] = data_df['node_value'] > 0
display(data_df)

,info,node_value,pr,rpe,model,info_present,positive_value
0,False,-48,0.000000,-1.002878,1809,True,False
1,False,24,0.000000,-0.911391,1809,True,True
2,True,-24,0.000000,-1.004297,1809,False,False
3,True,2,0.000000,-1.002037,1809,False,True
4,True,-48,0.000000,-1.003736,1809,False,False
...,...,...,...,...,...,...,...
1512518,False,-24,57.547956,-0.998110,1777,True,False
1512519,True,2,0.000000,-1.002970,1777,False,True
1512520,True,-8,0.000000,-1.006808,1777,False,False
1512521,False,48,0.000000,-0.997497,1777,True,True
1512522,True,-48,0.000000,-0.997817,1777,False,False

In [52]:
grouped_data_df = data_df.groupby(['info_present', 'positive_value', 'model'])
display(grouped_data_df)

In [53]:
mean_data_df = grouped_data_df.mean().reset_index()
display(mean_data_df)

,info_present,positive_value,model,info,node_value,pr,rpe
0,False,False,1729,True,-22.111763,0.000000,1.091361e+06
1,False,False,1777,True,-22.352913,0.000000,4.604070e+02
2,False,False,1809,True,-22.689965,0.000000,2.153178e+02
3,False,True,1729,True,11.740277,0.000000,-2.646506e+06
4,False,True,1777,True,11.644588,0.000000,-1.885920e+02
5,False,True,1809,True,11.915665,0.000000,1.258298e+01
6,True,False,1729,False,-20.551276,1.658868,1.054897e+06
7,True,False,1777,False,-20.780415,1.545657,6.939103e+02
8,True,False,1809,False,-27.129453,0.000000,-4.325656e+02
9,True,True,1729,False,28.630279,26.681295,4.265603e+05
10,True,True,1777,False,28.704316,24.622025,-1.403668e+02
11,True,True,1809,False,31.185296,0.000000,2.608935e+02

In [54]:
mean_data_df
display(mean_data_df[mean_data_df.model.isin([1777, 1729, 1809])])

,info_present,positive_value,model,info,node_value,pr,rpe
0,False,False,1729,True,-22.111763,0.000000,1.091361e+06
1,False,False,1777,True,-22.352913,0.000000,4.604070e+02
2,False,False,1809,True,-22.689965,0.000000,2.153178e+02
3,False,True,1729,True,11.740277,0.000000,-2.646506e+06
4,False,True,1777,True,11.644588,0.000000,-1.885920e+02
5,False,True,1809,True,11.915665,0.000000,1.258298e+01
6,True,False,1729,False,-20.551276,1.658868,1.054897e+06
7,True,False,1777,False,-20.780415,1.545657,6.939103e+02
8,True,False,1809,False,-27.129453,0.000000,-4.325656e+02
9,True,True,1729,False,28.630279,26.681295,4.265603e+05
10,True,True,1777,False,28.704316,24.622025,-1.403668e+02
11,True,True,1809,False,31.185296,0.000000,2.608935e+02

In [55]:
mean_data_df['rpe_cost'] = mean_data_df['rpe'] + 1
mean_data_df['pr_rpe'] = mean_data_df['pr'] + mean_data_df['rpe']
mean_data_df['pr_rpe_cost'] = mean_data_df['pr_rpe'] + 1

In [56]:
del mean_data_df['info']
display(mean_data_df)

,info_present,positive_value,model,node_value,pr,rpe,rpe_cost,pr_rpe,pr_rpe_cost
0,False,False,1729,-22.111763,0.000000,1.091361e+06,1.091362e+06,1.091361e+06,1.091362e+06
1,False,False,1777,-22.352913,0.000000,4.604070e+02,4.614070e+02,4.604070e+02,4.614070e+02
2,False,False,1809,-22.689965,0.000000,2.153178e+02,2.163178e+02,2.153178e+02,2.163178e+02
3,False,True,1729,11.740277,0.000000,-2.646506e+06,-2.646505e+06,-2.646506e+06,-2.646505e+06
4,False,True,1777,11.644588,0.000000,-1.885920e+02,-1.875920e+02,-1.885920e+02,-1.875920e+02
5,False,True,1809,11.915665,0.000000,1.258298e+01,1.358298e+01,1.258298e+01,1.358298e+01
6,True,False,1729,-20.551276,1.658868,1.054897e+06,1.054898e+06,1.054899e+06,1.054900e+06
7,True,False,1777,-20.780415,1.545657,6.939103e+02,6.949103e+02,6.954559e+02,6.964559e+02
8,True,False,1809,-27.129453,0.000000,-4.325656e+02,-4.315656e+02,-4.325656e+02,-4.315656e+02
9,True,True,1729,28.630279,26.681295,4.265603e+05,4.265613e+05,4.265870e+05,4.265880e+05
10,True,True,1777,28.704316,24.622025,-1.403668e+02,-1.393668e+02,-1.157447e+02,-1.147447e+02
11,True,True,1809,31.185296,0.000000,2.608935e+02,2.618935e+02,2.608935e+02,2.618935e+02